{{extend 'layout.html'}}

<script type="text/javascript" src="{{=URL('static','plugin_wiki/markitup/jquery.markitup.pack.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','plugin_wiki/markitup/sets/markmin/set.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=URL('static','plugin_wiki/markitup/skins/markitup/style.css')}}" />
<link rel="stylesheet" type="text/css" href="{{=URL('static','plugin_wiki/markitup/sets/markmin/style.css')}}" />
<script src="{{=URL('static','plugin_wiki/elrte-1.0rc4/js/elrte.min.js')}}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="{{=URL('static','plugin_wiki/elrte-1.0rc4/css/elrte.full.css')}}" type="text/css" media="screen" charset="utf-8">

{{=form}}

<script>
jQuery(document).ready(function() {
	  elRTE.prototype.options.panels.web2pyPanel = [
          'bold', 'italic', 'underline', 'forecolor', 'justifyleft', 'justifyright',
          'justifycenter', 'justifyfull', 'formatblock', 'insertorderedlist', 'insertunorderedlist',
          'link', 'image', 'flash'];
       elRTE.prototype.options.toolbars.web2pyToolbar = ['web2pyPanel', 'tables'];
       var opts = { toolbar  : 'web2pyToolbar' }
       jQuery('#page_text_body').elrte(opts);
});
</script>

