{{extend 'layout.html'}}
		
{{inaddress=False}}
{{hasFacebook=False}}
{{hasTwitter=False}}

{{if breadcrumbs:}}
	<span class="crumbs">
	{{for crumb in breadcrumbs:}}{{=A(crumb['title'], _href=URL('page', 'show', args=crumb['url']), _class='crumb')}}&nbsp;&raquo;&nbsp;{{pass}}
	</span>
{{pass}}
<h1>{{=page.title}}</h1>

{{ if is_admin: }}
{{=button(T('smartedit'),'showEditable',page.url)}}
{{=button(T('move page'),'movePage',page.id)}}
{{=button(T('sort pages'),'sortPages',page.id)}}
{{pass}}

{{ if(page.title.lower()!="home"): }}
<div class="roundedBox">
{{pass}}

{{for i in range(0,len(page_items)):}}
	{{if page_items[i].tablename=="page_text":}}
		<div class="pageText">
		{{if content[i].title:}} 
			{{=H2(content[i].title)}}
		{{pass}}
		{{if content[i].text_type=="html":}}
			{{=XML(content[i].body)}}
		{{elif content[i].text_type=="markmin":}}
			{{=MARKMIN(content[i].body, extra={'space':lambda code: '<br>', 'macro':lambda code: includeMacro(code)})}}
		{{else:}}
			{{=content[i].body}}
		{{pass}}
		</div>
	{{elif page_items[i].tablename=="page_image":}}
		{{if content[i].hasLightbox:}}
		<a href="{{=URL('download',args=content[i].image)}}" rel="pageImage" title="{{=content[i].title}}">
		{{pass}}
		  <img class="pageImage" src="{{=URL('download',args=content[i].image)}}" alt="{{=content[i].title}}" />
		{{if content[i].hasLightbox:}}
		</a>
		{{pass}}
	{{elif page_items[i].tablename=="page_file":}}
		<div class="pageLink">
			<a href="{{=URL('download',args=content[i].file_upload)}}" class="subLink">
			<div class="pageIcon">
				{{=pageIcon(content[i].file_upload)}}
			</div>
			<div class="pageInfo">
				{{=content[i].title}}
			</div>
			</a>
			<div style="clear:both;"></div>
		</div>
	{{elif page_items[i].tablename=="page_form":}}
		<div class="pageForm">
		{{try:}}
        	{{page_id=int(request.args(0))}}
    	{{except:}}
        	{{page=db(db.pagetree.url==request.args(0)).select().first() or redirect(error)}}
        	{{page_id=page.id}}
        {{pass}}	
		{{if content[i].form_type == 'Support' or content[i].form_type == 'Demo' or content[i].form_type == 'Offers' or content[i].form_type == 'Question':}}
			{{if content[i].form_type == 'Support':}}
				{{requestForm = 'support.load'}}
				{{title = 'Vraag support aan'}}
			{{elif content[i].form_type == 'Demo':}}
				{{requestForm = 'demo.load'}}
				{{title = 'Vraag een demo aan'}}
			{{elif content[i].form_type == 'Offers':}}
				{{requestForm = 'offers.load'}}
				{{title = 'Vraag een offerte aan'}}
			{{elif content[i].form_type == 'Question':}}
				{{requestForm = 'question.load'}}
				{{title = 'Stel ons een vraag'}}
			{{pass}}
			<div class="pageLink">
				<a href="{{=URL('contact',requestForm,args=[page_id])}}" rel="iframe" title="{{=title}}" class="subLink">
				<div class="pageIcon">
					{{=IMG(_src=URL(r=request,c='static', f=os.path.join('images','extensions','quote.png')), _width="48")}}
				</div>
				<div class="pageInfo">
					{{=title}}
				</div>
				</a>
				<div style="clear:both;"></div>
			</div>
		{{else:}}
			{{=LOAD('contact','contact.load',ajax=True)}}
		{{pass}}
		</div><div style="clear:both;"></div>
	{{elif page_items[i].tablename=="page_link":}}
		<div class="pageLink">
			<a href="{{=content[i].link}}" target="_blank" class="subLink">
			<div class="pageIcon">
				{{=pageIcon(content[i].link)}}
			</div>
			<div class="pageInfo">
				{{=content[i].title}}
			</div>
			</a>
			<div style="clear:both;"></div>
		</div>
	{{elif page_items[i].tablename=="page_faq":}}
		<div class="pageFAQ">
			<div class="pageFAQQuestion">
				{{=IMG(_src=URL(c='static', f='images', args=('question.png')), _width="24")}} &nbsp;
				<a href="#nil" onclick="jQuery('#faq_{{=content[i].id}}').slideToggle();"> {{=content[i].question}}</a>
				<div id="faq_{{=content[i].id}}" style="display:none">
				<div class="pageFAQAnswer">
				{{=content[i].answer}}
				</div>
				</div>		
			</div>
			
			
		</div>
	{{elif page_items[i].tablename=="page_address":}}
		{{if not inaddress:}}
			{{inaddress=True}}
			<div class="showaddress">
		{{pass}}
		<div class="pageaddress">
			<div class="pageaddressDetails">
				<b>{{=content[i].name}}</b><br>
				{{if content[i].address is not '':}}
				{{=content[i].address}}<br>
				{{pass}}
				{{if content[i].postcode is not '':}}
				{{=content[i].postcode}} &nbsp;
				{{pass}}
				{{if content[i].city is not '':}}
				{{=content[i].city}}<br>
				{{pass}}
				{{if content[i].website is not '':}}
				<a href="http://{{=content[i].website}}">{{=content[i].website}}</a><br>
				{{pass}}
				{{if content[i].email is not '':}}
				<a href="mailto: {{=content[i].email}}">{{=content[i].email}}</a><br>
				{{pass}}
				{{if content[i].phone is not '':}}
				{{=content[i].phone}}<br>
				{{pass}}		
			</div>
			<div style="clear:both;"></div>
		</div>
		{{if (i+1)==len(page_items):}}
			<!-- end address -->
			</div>
			<div style="clear:both;"></div>
			{{inaddress=False}}
		{{elif page_items[i+1].tablename != "page_address":}}
			<!-- end address -->
			</div>
			<div style="clear:both;"></div>
			{{inaddress=False}}
		{{pass}}
	{{elif page_items[i].tablename=="page_picasa":}}
		{{photos=content[i]}}
		<div class="pagePicasa">
			{{if len(photos) > 6:}}
			<div id="picPrev"></div>
			<div id="picNext"></div>
			{{pass}}
			{{for x in range(0,len(photos)):}}
				{{if x > 5:}}
					{{if (x+1) % 6 == 0:}}
						<img id="{{=x}}" class="googlepicasa" src="{{=photos[x].media.thumbnail[0].url.replace('s72','s110-c')}}" title="{{=photos[x].media.thumbnail[0].url.replace('s72','s680')}}" border="0" style="display:none;"/>
					{{else:}}
						<img id="{{=x}}" class="googlepicasa" src="{{=photos[x].media.thumbnail[0].url.replace('s72','s110-c')}}" title="{{=photos[x].media.thumbnail[0].url.replace('s72','s680')}}" border="0" style="display:none;"/>
					{{pass}}
				{{else:}}
					{{if x == 5:}}
						<img id="{{=x}}" class="googlepicasa" src="{{=photos[x].media.thumbnail[0].url.replace('s72','s110-c')}}" title="{{=photos[x].media.thumbnail[0].url.replace('s72','s680')}}" border="0" style="display:inline; border:0;"/>
					{{else:}}
						<img id="{{=x}}" class="googlepicasa" src="{{=photos[x].media.thumbnail[0].url.replace('s72','s110-c')}}" title="{{=photos[x].media.thumbnail[0].url.replace('s72','s680')}}" border="0" style="display:inline;"/>
					{{pass}}
				{{pass}}
			{{pass}}
			<div style="clear:both;"></div>
		</div>
		<a href="{{=photos[0].media.thumbnail[0].url.replace('s72','s2000')}}" rel="googlePicasa" class="picLink"><img id="picHeader" border="0" src="{{=photos[0].media.thumbnail[0].url.replace('s72','s680')}}"></a>
		<div style="clear:both;"></div>
		<script type="text/javascript">
		$(document).ready(function() {
		  	$("a[rel=googlePicasa]").fancybox({
		  		'transitionIn'  :   'elastic',
		  	    'transitionOut' :   'elastic'
		  	});
		});
		
		$(".googlepicasa").click(function(){
		  var thisHref = $(this).attr("title");
		  var thisRel = thisHref.replace('s680','s2000');
		  $("#picHeader").attr("src",thisHref);
		  $(".picLink").attr("href",thisRel);
		});
		
		$("#picPrev").click(function(){
		    var neededArray = [];
		    $(".googlepicasa").each(function (index, domEle) {
		        if($(this).css('display') != 'none') {
		        	maxID=index;
		            var neededID = (index - 6);
		            if(neededID >= 0) {
		                neededArray.push(index);
		            }
		        }
		    });
		    $.each(neededArray, function(index, value) { 
		        neededID = (value - 6);
		        $(".googlepicasa").eq(value).css('display', 'none');
		        $(".googlepicasa").eq(neededID).css('display', 'inline');
		        if(neededID==0) {
		        	$(".googlepicasa").eq(5).css('border-right', '0');
		        }
		        if(neededID == (maxID - 6) && neededID > 5) {
		        	$(".googlepicasa").eq(neededID).css('border-right', '0');
		        }
		    });
		});
		
		$("#picNext").click(function(){
		    var maxID = $(".googlepicasa").length;
		    var neededArray = [];
		    $(".googlepicasa").each(function (index, domEle) {
		        if($(this).css('display') != 'none') {
		            var neededID = (index + 6);
		            if(neededID < maxID) {
		                neededArray.push(index);
		            }
		        }
		    });
		    $.each(neededArray, function(index, value) { 
		        neededID = (value + 6);
		        $(".googlepicasa").css('border-right', '4px solid #FFF');
		        $(".googlepicasa").eq(value).css('display', 'none');
		        $(".googlepicasa").eq(neededID).css('display', 'inline');
		        if((neededID + 1) % 6 == 0 || (neededID + 1) == maxID) {
		        	$(".googlepicasa").eq(neededID).css('border-right', '0');
		        }
		    });
		});
		</script>
	{{elif page_items[i].tablename=="page_youtube":}}
		<div class="pageYoutube">{{if content[i].title:}}{{=H2(content[i].title)}}{{pass}}<iframe width="560" height="420" src="http://www.youtube.com/embed/{{=content[i].youtube}}?rel=0" frameborder="0" allowfullscreen></iframe></div>
	{{elif page_items[i].tablename=="page_facebook":}}
		{{hasFacebook=content[i].facebook}}
	{{elif page_items[i].tablename=="page_twitter":}}
		{{hasTwitter=content[i].twitter}}
	{{elif page_items[i].tablename=="page_slider":}}
        <div class="slider-wrapper theme-default" style="width: {{=content[i].width}}px !important;">
            <div id="slider_{{=content[i].id}}" class="nivoSlider">
			{{for x in (range (1,10)):}}
				{{image='image%d' % x}}
				{{link='link%d' % x}}
				{{caption='caption%d' % x}}		
				{{if content[i][image]:}}
					{{if content[i][link]:}}<a href="{{=content[i][link]}}">{{pass}}
					<img src="{{=URL('static','images/slider', args=content[i][image])}}" alt="" {{if content[i][caption]:}}title="{{=content[i][caption]}}" {{pass}} style="max-width: {{=content[i].width}}px !important; max-height: {{=content[i].height}}px !important;"/>
					{{if content[i][link]:}}</a>{{pass}}
					
                {{pass}}
            {{pass}}
            </div>
        </div>
    <script type="text/javascript" src="{{=URL('static','js/nivoslider/jquery.nivo.slider.js')}}"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider_{{=content[i].id}}').nivoSlider();
    });
    </script>
	{{pass}}
{{pass}}

{{if hasFacebook or hasTwitter:}}
	<div class="showSocial">
	{{if hasFacebook:}}
		<div class="pageFacebook">
		<div class="fb-like-box" data-href="{{=hasFacebook}}" data-border-color="#202020" data-width="480" data-height="300" data-colorscheme="dark" data-show-faces="true" data-stream="true" data-header="false"></div>
		</div>
	{{pass}}
	{{if hasTwitter:}}
		<div class="pageTwitter">
		<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 30000,
		  width: 480,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#202020',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#000000',
		      color: '#ffffff',
		      links: '#ADB224'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: false,
		    behavior: 'all'
		  }
		}).render().setUser('{{=hasTwitter}}').start();
		</script>
		</div>
	{{pass}}
	</div><div style="clear:both;"></div>
{{pass}}

{{if (page_children and page.showChildren) and (0>1) :}}
<div class="pageSubmenu">
{{if page.childrenTitle:}}{{=H2(page.childrenTitle)}}
{{else:}}{{=SPAN(H2(T('Sub pages')))}}{{pass}}
<ul>
	{{for child in page_children:}}
		<li>{{=A(child.title,_href=URL('show/%s' % child.url))}}</li>
	{{pass}}
</ul>
</div>
<div style="clear:both;"></div>
{{pass}}


{{for i in range(0,len(page_items)):}}	
	{{if page_items[i].tablename=="page_fbcomments":}}
		<div class="pageFBComments">
			<div class="fb-comments" data-href="{{=content[i].href}}" data-num-posts="{{=content[i].num_posts}}" data-width="{{=content[i].width}}" data-colorscheme="{{=content[i].colorscheme}}"></div>
		</div>
	{{pass}}
{{pass}}
</div>


<script type="text/javascript">
$(document).ready(function() {
    $("a[rel=iframe]").fancybox({
        'type': 'iframe',
        'width': 600,
        'height': 450,
        'scrolling': 'auto',
        'autoDimensions': true,
        'showNavArrows': false,
        'hideOnOverlayClick': true,
        'transitionIn'  :   'elastic',
        'transitionOut' :   'elastic',
        'overlayColor' :    '#FFFFFF'
    });
});
</script>
<div style="clear:both;"></div>
