{{extend 'layout.html'}}
<h1>{{=T('Order pages')}}</h1><br>
{{for r in pMap:}}
	<h5>{{=r[0].title}}</h5>
	{{for p in r[1]:}}
		{{=p.order_nr}}. {{=p.title}}
		[<a href="#nil" onclick="jQuery('#form{{=p.id}}').slideToggle();">{{=T('change order')}}</a>]
		<div id="form{{=p.id}}" style="display:none">
			{{for page in r[1]:}}
				{{if page.id != p.id:}}
					{{=button(T(str(page.order_nr)),'changePageOrder',(p.id,page.order_nr,root))}}
				{{pass}}			
			{{pass}}
		</div>	
		<br>
	{{pass}}
	<br>
	<br>
{{pass}}