{{is_custom = db(db.page_item_custom.page == page.id).select().first()}}

{{
	response.files.append(URL('static','page/js/fancybox/jquery.fancybox-1.3.4.pack.js'))
	response.files.append(URL('static','page/js/fancybox/jquery.easing-1.3.pack.js'))
	response.files.append(URL('static','page/js/fancybox/jquery.mousewheel-3.0.4.pack.js'))
	response.files.append(URL('static','page/js/fancybox/jquery.fancybox-1.3.4.css'))
	response.files.append(URL('static','page/js/jquery.js'))
	response.files.append(URL('static','page/js/nivoslider/themes/default/default.css'))
	response.files.append(URL('static','page/js/nivoslider/nivo-slider.css'))
	response.files.append(URL('static','page/js/nivoslider/jquery.nivo.slider.js'))
	response.files.append(URL('static','page/js/nivoslider/jquery.nivo.slider.pack.js'))
	response.files.append(URL('static','page/css/page.css'))
	#response.files.append(URL('static','page/css/style.css'))
	response.files.append(URL('static','page/css/extra.css'))
	response.files.append(URL('static','page/css/web2py_clean.css'))
	response.files.append(URL('views','web2py_ajax.html'))		  
}}

{{extend 'layout.html'}}
{{inDealer=False}}
{{hasFacebook=False}}

	<script type="text/javascript" src="../../static/page/js/jquery-swapsies.js"></script>	
	<script>
		/*function swappen(who,target,link){
			event.preventDefault();

			$.ajax({
				  url: link,
				  success: function(data) {
						$(who).swap({
							target: target,
							opacity: "0.5",
							speed: 200,
							callback: function() {
							}
						});
				  }
				});
		}*/
	</script>


{{if not is_custom:}}
<div id="single">
{{=H1(page.title)}}
{{pass}}
{{=button(T('view live version'),'show',page.id)}}
{{=button(T('edit page title'),'edit',page.id)}}
{{=button(T('move page'),'movePage',page.id)}}
{{=button(T('delete page'),'delPage',page.id)}}
{{=BR()}}

{{for i in range(0,len(page_items)):}}
	{{custom = db((db.page_item_custom.page == page.id) & (db.page_item_custom.page_item == page_items[i].id)).select().last()}}
	{{if custom:}}{{=openCustomDiv(custom)}}{{pass}}
	{{if page_items[i].tablename=="page_text":}}
		<div class="pageText" id="{{=page_items[i].order_nr}}">
		{{if content[i].title:}} 
			{{=H2(content[i].title)}}
		{{pass}}
		{{if content[i].type=="html":}}
			{{=XML(content[i].body)}}
			{{=button(T('edit'),'editHtml',(page.id,content[i].id))}}						
		{{elif content[i].type=="markmin":}}
			{{=MARKMIN(content[i].body, extra={'space':lambda code: '<br>'})}}
			{{=button(T('edit'),'editMarkmin',(page.id,content[i].id))}}
		{{else:}}
			{{=content[i].body}}
			{{=button(T('edit'),'editText',(page.id,content[i].id))}}
		{{pass}}
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- start switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		<!-- eind switchen van position -->		
		
		</div>
	{{elif page_items[i].tablename=="page_image":}}		
		<div class="pageImage">
			<div>
		{{if content[i].hasLightbox:}}		
			<a href="{{=URL('download',args=content[i].image)}}" rel="pageImage" title="{{=content[i].title}}">
		{{pass}}  
		<img class="pageImage" src="{{=URL('download',args=content[i].image)}}" alt="{{=content[i].title}}" />
		{{if content[i].hasLightbox:}}
			</a>		
		{{pass}}
			</div>				
		{{=button(T('edit'),'editImage',(page.id,content[i].id))}}
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- start switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		<!-- eind switchen van position -->
		
		</div>	
	{{elif page_items[i].tablename=="page_file":}}
		<div class="pageFile">
		{{=A('download', _href=URL('download',args=content[i].file))}}
		{{=button(T('edit'),'editFile',(page.id,content[i].id))}}
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- start switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		<!-- eind switchen van position -->
		
		</div>
	{{elif page_items[i].tablename=="page_form":}}
        <div class="pageForm">
        {{try:}}
            {{page_id=int(request.args(0))}}
        {{except:}}
            {{page=db(db.page.url==request.args(0)).select().first() or redirect(error)}}
            {{page_id=page.id}}
        {{pass}}

        {{if content[i].form_type == 'Support':}}
            {{requestForm = 'support.load'}}
            {{title = 'Vraag support aan'}}
            {{=LOAD('page','support.load',ajax=True)}}
        {{elif content[i].form_type == 'Demo':}}
            {{requestForm = 'demo.load'}}
            {{title = 'Vraag een demo aan'}}
            {{=LOAD('page','demo.load',ajax=True)}}
        {{elif content[i].form_type == 'Offers':}}
            {{requestForm = 'offers.load'}}
            {{title = 'Vraag een offerte aan'}}
            {{=LOAD('page','offers.load',ajax=True)}}
        {{elif content[i].form_type == 'Question':}}
            {{requestForm = 'question.load'}}
            {{title = 'Stel ons een vraag'}}
            {{=LOAD('page','question.load',ajax=True)}}
        {{else:}}
            {{requestForm = 'contact.load'}}
            {{title = 'Contact formulier'}}
            {{=LOAD('page','contact.load',ajax=True)}}
        {{pass}}
		[<a href="{{=URL('contact',requestForm,args=[page_id])}}" title="{{=title}}">FORM: {{=content[i].form_type}}</a>]
		{{=button(T('edit'),'editForm',(page.id,content[i].id))}}
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
	
		<!-- start switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		<!-- eind switchen van position -->
		
		</div>		
	{{elif page_items[i].tablename=="page_link":}}
		<div class="pageLink">
		{{=A(content[i].title, _href=content[i].link, _target='_blank')}}
		{{=button(T('edit'),'editLink',(page.id,content[i].id))}}
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- start switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		<!-- eind switchen van position -->
		</div>
	{{elif page_items[i].tablename=="page_faq":}}
		<div class="pageFAQ">
		Q: {{= content[i].question }} <br>
		A: {{= content[i].answer }}
		{{=button(T('edit'),'editFAQ',(page.id,content[i].id))}}
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- start switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		<!-- eind switchen van position -->
		</div>
	{{elif page_items[i].tablename=="page_dealer":}}
		{{if not inDealer:}}
			{{inDealer=True}}
			<div class="showDealer">
		{{pass}}
		<div class="pageDealer">
			<div class="pageDealerDetails">
				<b>{{=content[i].name}}</b><br>
				{{if content[i].address is not '':}}
				{{=content[i].address}}<br>
				{{pass}}
				{{if content[i].postcode is not '':}}
				{{=content[i].postcode}} &nbsp;
				{{pass}}
				{{if content[i].location is not '':}}
				{{=content[i].location}}<br>
				{{pass}}
				{{if content[i].website is not '':}}
				<a href="{{=content[i].website}}">{{=content[i].website}}</a><br>
				{{pass}}
				{{if content[i].email is not '':}}
				<a href="mailto: {{=content[i].email}}">{{=content[i].email}}</a><br>
				{{pass}}
				{{if content[i].phone is not '':}}
				{{=content[i].phone}}<br>
				{{pass}}		
			</div>
			<div style="clear:both;"></div>

		{{=button(T('edit'),'editDealer',(page.id,content[i].id))}}
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- start switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		<!-- eind switchen van position -->
		</div>	
		{{if (i+1)==len(page_items):}}
			<!-- end dealer -->
			</div>
			<div style="clear:both;"></div>
			{{inDealer=False}}
		{{elif page_items[i+1].tablename != "page_dealer":}}
			<!-- end dealer -->
			</div>
			<div style="clear:both;"></div>
			{{inDealer=False}}
		{{pass}}
	{{elif page_items[i].tablename=="page_picasa":}}
		<div class="pagePicasa">
		<strong>Google Picasa</strong><br>
		UserID={{=content[i].userid}}<br>
		AlbumID={{=content[i].albumid}}<br>
		{{=button(T('edit'),'editPicasa',(page.id,content[i].id))}}						
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		</div>
	{{elif page_items[i].tablename=="page_youtube":}}
		<div class="pageYoutube">
		{{if content[i].title:}}{{=H2(content[i].title)}}{{pass}}
		<iframe width="384" height="300" src="http://www.youtube.com/embed/{{=content[i].youtube}}?rel=0" frameborder="0" allowfullscreen></iframe>
		{{=button(T('edit'),'editYoutube',(page.id,content[i].id))}}						
		{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
			<div id="form{{=page_items[i].id}}" style="display:none">
				{{for page_item in page_items:}}
					{{if page_item.id != page_items[i].id:}}
						{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
					{{pass}}			
				{{pass}}
				{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
			</div>	
		</div>
	{{elif page_items[i].tablename=="page_facebook":}}
		{{hasFacebook=content[i].facebook}}
		{{facebookID=i}}
	{{elif page_items[i].tablename=="page_slider":}}
         <div class="slider-wrapper theme-default" style="width: {{=content[i].width}}px !important;">
            <div id="slider_{{=content[i].id}}" class="nivoSlider">
			{{for x in (range (1,10)):}}
				{{image='image%d' % x}}
				{{link='link%d' % x}}
				{{caption='caption%d' % x}}		
				{{if content[i][image]:}}
					{{if content[i][link]:}}<a href="{{=content[i][link]}}">{{pass}}
					<img src="{{=URL('static','page/images/slider', args=content[i][image])}}" alt="" {{if content[i][caption]:}}title="{{=content[i][caption]}}" {{pass}} style="max-width: {{=content[i].width}}px !important; max-height: {{=content[i].height}}px !important;"/>
					{{if content[i][link]:}}</a>{{pass}}
					
                {{pass}}
            {{pass}}
            </div>
        </div>
    <script type="text/javascript" src="{{=URL('static','page/js/nivoslider/jquery.nivo.slider.js')}}"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider_{{=content[i].id}}').nivoSlider();
    });
    </script>
	{{=button(T('edit'),'editSlider',(page.id,content[i].id))}}
	{{=SPAN('[',A('customize',_href=URL('page_custom', 'customizePageItem',args=(page.id,page_items[i].id))),']')}}
	{{=button(T('delete'),'deletePageItem',(page.id,page_items[i].id))}}
		
		<!-- start switchen van position -->
		[<a href="#nil" onclick="jQuery('#form{{=page_items[i].id}}').slideToggle();">{{=T('change order')}}</a>]
		<div id="form{{=page_items[i].id}}" style="display:none">
			{{for page_item in page_items:}}
				{{if page_item.id != page_items[i].id:}}
					{{=button(T(str(page_item.order_nr)),'sortOrderNr',(page.id,page_items[i].id,page_item.order_nr))}}
				{{pass}}			
			{{pass}}
			{{=button(T('reset order_nrs'),'resetOrderNr',(page.id))}}
		</div>	
		<!-- eind switchen van position -->
	{{pass}}
	{{if custom:}}{{=closeCustomDiv(custom)}}{{pass}}
{{pass}}
<div style="clear:both;"></div>


{{=BR()}}
[<a href="#nil" onclick="jQuery('#form_text').slideToggle();">{{=T('+ text')}}</a>]
<div id="form_text" style="display:none">
	<h3>{{=T("Choose text format")}}</h3>
	<div class="pageLink">{{=A('html', _href=URL('editHtml',args=(page.id,0)))}}</div>
	<div class="pageLink">{{=A('markmin', _href=URL('editMarkmin',args=(page.id,0)))}}</div>
	<div class="pageLink">{{=A('plain', _href=URL('editText',args=(page.id,0)))}}</div>
</div>
{{=button(T('+ image'),'editImage',(page.id,0))}}
{{=button(T('+ file'),'editFile',(page.id,0))}}
{{=button(T('+ link'),'editLink',(page.id,0))}}
{{=button(T('+ faq'),'editFAQ',(page.id,0))}}
{{=button(T('+ dealer'),'editDealer',(page.id,0))}}
{{=button(T('+ picasa'),'editPicasa',(page.id,0))}}
{{=button(T('+ youtube'),'editYoutube',(page.id,0))}}
{{=button(T('+ facebook'),'editFacebook',(page.id,0))}}
{{=button(T('+ imageSlider'),'editSlider',(page.id,0))}}
{{=button(T('+ form'),'editForm',(page.id,0))}}

{{if page_children:}}
<div class="pageSubmenu">
{{=SPAN(H2(T('Sub pages')))}}
{{if page.childrenTitle:}}{{=H3(page.childrenTitle)}}{{pass}}
<ul>
	{{for child in page_children:}}
		<li>{{=A(child.title,_href=URL('show/%s' % child.url))}}</li>
	{{pass}}
</ul>
</div>
{{pass}}

[<a href="#nil" onclick="jQuery('#form').slideToggle();">{{=T('+ page')}}</a>]
<div id="form" style="display:none">
<h3>{{=T("Add sub page")}}</h3>
{{=form}}
</div>



<script type="text/javascript">
$(document).ready(function() {
    $("a[rel=iframe]").fancybox({
        'type': 'iframe',
        'width': 600,
        'height': 450,
        'scrolling': 'auto',
        'autoDimensions': true,
        'showNavArrows': false,
        'hideOnOverlayClick': true,
        'transitionIn'  :   'elastic',
        'transitionOut' :   'elastic',
        'overlayColor' :    '#FFFFFF'
    });
});
</script>
{{if auth.has_membership('admins'):}}<div style="clear:both;"></div>{{=plugin_tagging('page', page.id)}}{{pass}}
{{if not is_custom:}}</div>{{pass}}